<main ref="container" class="container pb-20">
    <div class="fixed pin-x pin-b bg-indigo flex justify-center p-4 h-12 z-30">
        <sync-button />
    </div>

    <svg viewBox="0 0 100 11" preserveAspectRatio="xMidYMin slice" class="block w-full">
        <text x="0" y="95%" class="uppercase opacity-10 leading-none font-semibold text-shadow" style="font-size: 13.4px">Alex's Job Listing</text>
    </svg>
    <!-- <h1 class="font-semibold text-center uppercase opacity-25 leading-none text-5xl" :style="`font-size: ${vw}vw`">Alex's Job Listing</h1> -->
    
    <template v-if="jobs">
        <transition-group 
            :css="false"
            @enter="enter"
            @leave="leave"    
            tag="section"
        >
            <scraper-job v-for="(job, i) in jobs" :key="job.id" :job="job" :class="{  'mt-6': i > 0 }" :data-index="i" />
        </transition-group>
    </template>

    <modal />

    <transition name="slide">
        <error v-if="error" />
    </transition>
</main>